.chart-bar__empty {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  background-color: pink;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-size: smaller;
  text-align: center;
}
