.new-expense {
  background-color:snow;
  padding: 1rem;
  margin: 2rem auto;
  width: 60%;
  text-align: center;
}

.new-expense button {
  cursor: pointer;
  padding: 0.5rem;
  background-color: lightcoral;
  color: snow;
  width: 100%;
  border-radius: 4px;
  box-shadow: none;
  border: none;
}

.new-expense button:active {
  background-color: lightpink;
}

.new-expense button.alternative {
  background-color: transparent;
  color: indianred;
}
